{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}
{% block content %}
    <table class="table table-hover table-dark"> <!-- class refers to a bootstrap class with gives a nicer design -->
        <thead> <!--Table head-->
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->

                    <!--Jinja syntax to iterate over values-->
                    {% for item in items %} <!--Brackets is logic code, can access from the route-->
                    <tr> <!--tr = Table row-->
                        <td>{{ item.id }}</td> <!--table data reference to the first column-->
                        <td>{{ item.name }}</td> 
                        <td>{{ item.barcode }}</td> 
                        <td>{{ item.price }}$</td> 
                        <td>
                            <button class="btn btn-outline btn-info">More Info</button>
                            <button class="btn btn-outline btn-success">Purchase this Item</button>
                        </td>
                    </tr>
                    {% endfor %}

        </tbody>
    </table>

{% endblock %}